
@model Diary_Sample.Models.UserAdminProfileViewModel

@{
    ViewData["Title"] = "アカウント設定";
}
@if (Model.Notification != string.Empty)
{<!-- toast -->
                <div id="message" class="toast" data-delay="3000" role="alert" aria-live="assertive" aria-atomic="true">
                    @if (Model.UpdateResult == true)
                    {
                        <div id="toast-header" class="toast-header bg-success">
                            <strong class="mr-auto">Notification</strong>
                            <small>just now</small>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    else
                    {
                        <div id="toast-header" class="toast-header bg-warning">
                            <strong class="mr-auto">Notification</strong>
                            <small>just now</small>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }

                    <div class="toast-body">
                        <span id="toast_message"></span>
                    </div>
                </div>

                                <script>
    window.onload = function() {

        $('#toast_message').text("@Html.Raw(Model.Notification)");
        $('#message').toast('show');
    }
                                </script>}
<div class="container">
    <h3><img src="./../lib/bootstrap-icons/person-circle.svg" alt="" width="32" height="32" title="account"> アカウント設定</h3>
    <div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills flex-column">
                    <form id="menu-form" method="get">
                        <li class="nav-item"><a class="nav-link theme" id="profile" asp-controller="UserAdminProfile" asp-action="Index" >プロフィール</a></li>
                        <li class="nav-item"><a class="nav-link" id="email" asp-controller="UserAdminEmail" asp-action="Index" >Eメール</a></li>
                        <li class="nav-item"><a class="nav-link" id="change-password" asp-controller="UserAdminPassword" asp-action="Index" >パスワード</a></li>
                        <li class="nav-item"><a class="nav-link" id="personal-data" asp-controller="UserAdminAccount" asp-action="Index" >アカウントデータ</a></li>
                    </form>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <form id="profile-form" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label>ユーザID</label>
                                <input type="text" id="userId" name="userId" class="form-control theme" asp-for=@Model.UserId readonly />
                            </div>
                            <div class="form-group">
                                <label>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill icon-color" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    </svg> ユーザ名
                                </label>
                                <input type="text" id="userName" name="userName" class="form-control" asp-for=@Model.UserName />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill icon-color" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z" />
                                    </svg> 電話番号
                                </label>
                                <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" asp-for=@Model.PhoneNumber />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <button id="update-profile-button" class="btn btn-sm theme" asp-controller="UserAdminProfile" asp-action="Edit">保存</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
