<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Analyzers internal-only projects" Description="Code analysis rules for Analyzers internal-only projects." ToolsVersion="10.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.FxCopAnalyzers" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1052" Action="None" />
    <Rule Id="CA1707" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1508" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
  </Rules>
</RuleSet>