@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "パスワードリセット";
}

<h3><img src="./../lib/bootstrap-icons/key-fill.svg" alt="" width="32" height="32" title="PASSWORD"> PLEASE CHECK YOUR EMAIL TO RESET YOUR PASSWORD</h3>
<br>
<h6>
    パスワードリセット用のメールを送信しました。<br>ご確認ください。<br><br>
</h6>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}