@page
@model ForgotPassword
@{
    ViewData["Title"] = "パスワードリセット";
}

<h3><img src="./../lib/bootstrap-icons/key-fill.svg" alt="" width="32" height="32" title="PASSWORD"> PASSWORD RESET</h3>
<br>
<h6>入力したEメールアドレスにパスワードリセット用のリンクを送信します</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input type="email" asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn certification_theme">送信</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}