@page
@model ResetPasswordConfirmation
@{
    ViewData["Title"] = "パスワードリセット";
}
<h3><img src="./../lib/bootstrap-icons/key-fill.svg" alt="" width="32" height="32" title="PASSWORD"> RESET YOUR PASSWORD COMPLETED!</h3>
<br>
<h6>
    パスワードが変更されました。ログインは<a asp-page="./" class="certification_link">こちら</a>をクリックしてください。
</h6>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}