body {
    font-family: "BIZ UDGothic", Arial, Helvetica, sans-serif, monospace;
    font-weight: bold;
  }
::selection {
    background: rgba(19, 94, 255, 0.411);
}
/**
* テーマカラー
* DBで管理できると良いね。
*/
.theme {
    color: white;
    background-color: rgb(3, 97, 185);
}
.theme:hover {
    color: white;
    background-color: rgb(3, 97, 185);
}
.theme_background {
    color: black;
    background-color: rgb(238, 247, 255);
}
.theme_positive {
    color:white;
    background-color: rgb(8, 209, 75);
}
.theme_positive:hover {
    color:white;
    background-color: rgb(8, 209, 75);
}
.theme_warning {
    color: white;
    background-color: rgb(255, 115, 126);
}
.theme_warning:hover {
    color: white;
    background-color: rgb(255, 115, 126);
}
.theme_cancel{
    border : 1px solid darkgray;
    color: black;
    background-color: white;
}
.theme_cancel:hover {
    border : 1px solid darkgray;
    color: black;
    background-color: white;
}

.theme_diary_title {
    font-family: "UD デジタル 教科書体 N-B", Arial, Helvetica, sans-serif, monospace;
    color:white;
    background-color: rgb(8, 209, 75);
}
.theme_diary_title:hover{
    color:white !important;
    background-color: rgb(8, 209, 75) !important;
}
.theme_diary_content {
    font-family: "UD デジタル 教科書体 N-B", Arial, Helvetica, sans-serif, monospace;
    color:gray;
    background-color: rgb(246, 255, 214);
}
/**
* リンク
*/
a{
    color: rgb(3, 97, 185);
}
a:hover{
    color: rgb(15, 219, 49);
}

/**
* 一覧
*/
table.diary_list {
    font-size:10pt;
    border-collapse: collapse;
    border-spacing: 0;
}
table.diary_list th.no {
    width: 5%;
}
table.diary_list th.post_date {
    width: 10%;
}
table.diary_list th.edit {
    width: 5%;
}
table.diary_list th {
    font-family: "BIZ UDGothic", Arial, Helvetica, sans-serif, monospace;
    font-weight: bold;
}
table.diary_list td {
    font-family: "BIZ UDGothic", Arial, Helvetica, sans-serif, monospace;
    font-weight: bold;
}

/**
* 認証
*/
.certification_theme, .certification_theme:hover {
    color: white;
    background-color: rgb(57, 57, 68);
    border-color: rgb(29, 29, 29);
}
.certification_theme:read-only, .certification_theme:focus {
    background-color: rgb(57, 57, 68) !important;
    color:white;
    border-color: rgb(29, 29, 29);
}
.certification_theme::selection {
    color:white;
}

.certification_link:link, .certification_link:hover, .certification_link:active, .certification_link:visited {
    color: rgb(35, 65, 201);
    outline-color: white;
}

.custom-control-label {
    font: 1.0em normal;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color:rgb(57, 57, 68);
    outline-color: white;
}

.user_email {
    color: rgb(8, 209, 75) !important;
}

/* .nav-pills .nav-link.active {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  } */

/**
* 管理
*/
.manage_theme, .manage_theme:hover {
    color: white;
    background-color: rgb(81, 192, 192);
    border-color: rgb(0, 255, 255);
}
.manage_theme:read-only, .manage_theme:focus {
    background-color: rgb(81, 192, 192) !important;
    color:gray;
    border-color: rgb(0, 255, 255);
}
.manage_theme::selection {
    color:white;
}

.manage_link:link, .manage_link:hover, .manage_link:active, .manage_link:visited {
    color: rgb(35, 65, 201);
    outline-color: white;
}

/**
* アカウント一覧
*/
.theme_account_title {
    font-family: "UD デジタル 教科書体 N-B", Arial, Helvetica, sans-serif, monospace;
    color:white;
    background-color: rgb(108, 139, 185);
}
.theme_account_title:hover{
    color:white !important;
    background-color: rgb(108, 139, 185) !important;
}
.theme_account_content {
    font-family: "UD デジタル 教科書体 N-B", Arial, Helvetica, sans-serif, monospace;
    color:gray;
    background-color: rgb(238, 236, 223);
}
table.account_list {
    font-size:10pt;
    border-collapse: collapse;
    border-spacing: 0;
}
table.account_list th.no {
    width: 5%;
}
table.account_list th.post_date {
    width: 10%;
}
table.account_list th.edit {
    width: 5%;
}
table.account_list th {
    font-family: "BIZ UDGothic", Arial, Helvetica, sans-serif, monospace;
    font-weight: bold;
}
table.account_list td {
    font-family: "BIZ UDGothic", Arial, Helvetica, sans-serif, monospace;
    font-weight: bold;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: rgb(44, 113, 160);
    border-color: rgb(44, 113, 160);
  }