@model AuthViewModel
@{
    ViewData["Title"] = "ログイン";
}
@if(Model.Notification != string.Empty){
<script>
    window.onload = function() {

        $('#toast_message').text("@Html.Raw(Model.Notification)");
        $('#message').toast('show');
    }
</script>
}
<h3><img src="./../lib/bootstrap-icons/person-check-fill.svg" alt="" width="32" height="32" title="LOGIN"> LOGIN</h3>
<br>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-controller="Auth" asp-action="Login" id="account" method="post">
                <h6>アカウント情報を入力してください</h6>
                <hr />
@if(Model.Notification != string.Empty){
<!-- toast -->
                <div id="message" class="toast" data-delay="3000" role="alert" aria-live="assertive" aria-atomic="true">
                    <div id="toast-header" class="toast-header theme_warning">
                    <strong class="mr-auto">Notification</strong>
                    <small>just now</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="toast-body">
                        <span id="toast_message"></span>
                    </div>
                </div>
}
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheckBox1">
                    <label class="custom-control-label" for="customCheckBox1">次回から自動ログインする</label>
                </div>
                <br>
                <div class="form-group">
                    <button id="Login" type="submit" class="btn certification_theme">ログイン</button>
                </div>
                <div class="form-group">
                    <p>
                        <a  id="forgot-password" class="certification_link">パスワードをお忘れですか？</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>


